<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href='../static/css/style.css' rel='stylesheet' type='text/css'>
        <title>Filmes</title>
    </head>

    <body>

        <div class="escolha">
            <a href='PMI.html'>Home</a>
            <a href="sobre.html">Sobre o site</a>
            <a href="filmes.html">Filmes</a>
            <a href="wallpaper.html">Wallpapers</a>
        </div>

        <div class="fundoFilmes">
            <p>Abaixo estão listados todos os filmes da saga Star Wars em ordem de lançamento, no começo pode parecer estranho a ordem dos filmes, a rumores que George Lucas(criador) queria prodruzir uma saga com três trilogias, posteriormente, as negociações com a FOX(produtora inicial dos filmes) fez com escolhesse apenas uma delas e escolheu a parte central, devido ao cenário cinematrográfico da época que não aceitava bem filmes com sagas muito longas.</p>

            <table border="5px" class="tablefilmes">
                <tr>
                    <th>Star Wars IV: A new hope<br>(25 de Maio de 1977)</th>
                </tr>
                <tr>
                    <td><img src="../static/img/4.jpg" class='imgtable'></td>
                </tr>
                <tr>
                    <th>Star Wars V: The Empires Strikes Back<br>(21 de Maio de 1980)</th>
                </tr>
                <tr>
                    <td><img src="../static/img/5.jpg" class="imgtable"></td>
                </tr>
                <tr>
                    <th>Star Wars VI: Return of Jedi</th>
                </tr>
                <tr>
                    <td><img src="../static/img/6.jpg" class="imgtable"></td>
                </tr>
                <tr>
                    <th>Star Wars I: The Phatom Menace<br>(19 de Maio de 1999)</th>
                </tr>
                <tr>
                    <td><img src="../static/img/1.jpg" class="imgtable"></td>
                </tr>
                <tr>
                    <th>Star Wars II: Attack of the Clones<br>(16 de Maio de 2002)</th>
                </tr>
                <tr>
                    <td><img src="../static/img/2.jpg" class="imgtable"></td>
                </tr>
                <tr>
                    <th>Star Wars III: Revenge of the Sith<br>(19 de Maio de 2005)</th>
                </tr>
                <tr>
                    <td><img src="../static/img/3.jpg" class="imgtable"></td>
                </tr>
                <tr>
                    <th>Star Wars VII: The Force Awakens<br>(18 de Dezembro de 2015)</th>
                </tr>
                <tr>
                    <td><img src="../static/img/7.jpg" class="imgtable"></td>
                </tr>
                <tr>
                    <th>Rogue One: A Star Wars Story<br>(16 de Dezembro de 2016)</th>
                </tr>
                <tr>
                    <td><img src="../static/img/rogue.jpg" class="imgtable"></td>
                </tr>
                <tr>
                    <th>Star Wars VIII: The Last Jedi<br>(14 de Dezembro de 2017)</th>
                </tr>
                <tr>
                    <td><img src="../static/img/8.jpg" class="imgtable"></td>
                </tr>
                <tr>
                    <th>Solo: A Star Wars Story<br>(25 de Maio de 2018)</th>
                </tr>
                <tr>
                    <td><img src="../static/img/solo.jpg" class="imgtable"></td>
                </tr>
                <tr>
                    <th>Star Wars IX: The Rise of Skywalker<br>(19 de Dezembro de 2019)</th>
                </tr>
                <tr>
                    <td><img src="../static/img/9.jpg" class="imgtable"></td>
                </tr>
            </table>

        </div>

    </body>

</html>