<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="../static/css/style.css" rel='stylesheet' type='text/css'>
        <title>Sobre o site</title>
    </head>

    <body>

        <div class="escolha">
            <a href='PMI.html'>Home</a>
            <a href="sobre.html">Sobre o site</a>
            <a href="filmes.html">Filmes</a>
            <a href="wallpaper.html">Wallpapers</a>
        </div>

        <div class="fundoA">
            <div class="fundoB">Sobre o site</div>
            <img src="../static/img/foto.jpg" class="foto1">
            <div class="t1">
                Olá, sou Bruno Jun, criador desse site, esse site foi criado como uma atividade para a aula de Programação de Microinformática, lecionado pelo Professor José Antonio Castanho de Almeida na Fatec Itapetininga. O site consiste em apresentar curiosidades e informações dessa saga espacial, denominada "Star Wars". Com o objetivo de trazer mais fans para essa obra. 
            </div>
            <img src='../static/img/chewe.png' class="foto2">
            <div class="t2">
                UHRR AARRRR UHHRRRRRRR<br>(Obrigado por visitar a página!!)
            </div>
        </div>
    </body>

</html>