<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="../static/css/style.css" type='text/css' rel='stylesheet'>
        <title>Wallpapers</title>
    </head>

    <body>

        <div class="escolha">
            <a href='PMI.html'>Home</a>
            <a href="sobre.html">Sobre o site</a>
            <a href="filmes.html">Filmes</a>
            <a href="wallpaper.html">Wallpapers</a>
        </div>

        <div class="fundoWall">
            <div class="textoWall">Algumas imagens de fundo para seu computador/notebook. Aproveite!!</div>
            <div class="fundoWall2">
                <div class="instruWall">Instruções para baixar e colocar o wallpaper como plano de fundo:<br>
                    <ol>
                        <li>Clique com o botão direito do mouse e depois clique em "Salvar imagem como...":</li>
                        <img src="../static/img/instrucao1.jpg" class="imginstru">
                        <li>Depois escolha o local para armazenar a imagem e clique em "Salvar":</li>
                        <img src="../static/img/instrucao2.jpg" class="imginstru">
                        <li>O último passo é clicar com o botão direito do mouse e clique em "Definir como tela de fundo da área de trabalho":</li>
                        <img src='../static/img/instrucao3.jpg' class="imginstru">
                    </ol>
                </div>
            </div>
                <img src="../static/img/yoda.jpg" class="wallpaper">
                <img src="../static/img/xmen.jpg" class="wallpaper">
                <img src="../static/img/shot.jpg" class="wallpaper">
                <img src="../static/img/deathstar.jpg" class="wallpaper">
                <img src="../static/img/cabeça.jpg" class="wallpaper">
        </div>
            

    </body>

</html>